<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>网关路由列表页</title>
    <link rel="stylesheet" href="//lib.baomitu.com/element-ui/2.11.1/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>

<body>
<div id="app" class="container-fluid" v-cloak>
    <div class="tool-container">
        <el-button type="primary" icon="el-icon-plus" size="small" @click="openDialog(0)">新增</el-button>
        <el-button type="primary" icon="el-icon-refresh" size="small" @click="refresh">刷新</el-button>
        <el-button type="success" icon="el-icon-refresh" size="small" @click="refreshRoute">刷新路由</el-button>
    </div>

    <el-table :data="tableData" ref="multiTable" row-key="id" height="480" size="mini" stripe border>
        <el-table-column type="selection" label="1" width="50" align="center"></el-table-column>
        <el-table-column type="index" label="序号" :index="genIndex" align="center" fixed="left"></el-table-column>
        <el-table-column prop="id" label="Id" min-width="180" align="center"></el-table-column>
        <el-table-column prop="routeId" label="路由Id" min-width="140" align="center"></el-table-column>
        <el-table-column prop="routeUri" label="路由目标Uri" min-width="140" align="center" show-overflow-tooltip></el-table-column>
        <el-table-column prop="routeOrder" label="路由执行顺序" min-width="140" align="center"></el-table-column>
        <el-table-column prop="enabled" label="是否启用" width="80" align="center">
            <template slot-scope="scope">
                <el-tag v-if="0 === scope.row.enabled" size="mini" type="danger">关闭</el-tag>
                <el-tag v-else-if="1 === scope.row.enabled" size="mini" type="success">启用</el-tag>
            </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" min-width="140" align="center" show-overflow-tooltip></el-table-column>
        <el-table-column prop="updateTime" label="更新时间" min-width="140" align="center" show-overflow-tooltip></el-table-column>
        <el-table-column label="操作" width="200" align="center" fixed="right">
            <template slot-scope="scope">
                <el-popover placement="top" trigger="click" :ref="scope.row.id + 'del'">
                    <p>确定删除<span class="popover-tip-val">{{scope.row.routeId}}</span>?</p>
                    <div style="text-align: right; margin: 0;">
                        <el-button type="text" size="mini" @click.native="hideDelPopover(scope.row.id, 'del')">取消</el-button>
                        <el-button type="primary" size="mini" @click.native="deleteData(scope.row)">确定</el-button>
                    </div>
                </el-popover>

                <el-button type="warning" icon="el-icon-edit" size="mini" @click.native="openDialog(scope.row.id)">修改</el-button>
                <el-button type="danger" icon="el-icon-delete" size="mini" v-popover="scope.row.id + 'del'">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <div class="table-page">
        <el-pagination background layout="total, prev, pager, next, sizes, jumper"
                       @current-change="pageChange"
                       @size-change="sizeChange"
                       :page-sizes="[10, 20, 50, 80, 100]"
                       :current-page.sync="paging.page"
                       :page-size.sync="paging.size"
                       :total="paging.total">
        </el-pagination>
    </div>

    <el-dialog :title="opFlag ? '修改' : '新增'" :visible.sync="visible" :close-on-click-modal="false">
        <el-form :model="dataForm" ref="dataForm" label-width="98px" label-position="right">
            <el-form-item label="Id" prop="id" v-show="opFlag">
                <el-input v-model="dataForm.id" disabled></el-input>
            </el-form-item>
            <el-form-item label="路由Id" prop="routeId">
                <el-input v-model="dataForm.routeId" placeholder="路由Id" clearable></el-input>
            </el-form-item>
            <el-form-item label="路由目标Uri" prop="routeUri">
                <el-input v-model="dataForm.routeUri" placeholder="路由目标Uri" clearable></el-input>
            </el-form-item>
            <el-form-item label="路由执行顺序" prop="routeOrder">
                <el-input v-model="dataForm.routeOrder" placeholder="路由执行顺序" clearable></el-input>
            </el-form-item>
            <el-form-item label="断言字符串" prop="predicates">
                <el-input type="textarea" rows="8" v-model="dataForm.predicates"></el-input>
            </el-form-item>
            <el-form-item label="过滤器字符串" prop="filters">
                <el-input type="textarea" rows="8" v-model="dataForm.filters"></el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button type="text" size="mini" @click="visible = false">取消</el-button>
            <el-button type="primary" size="mini" @click="dataFormSubmit">确定</el-button>
        </span>
    </el-dialog>
</div>

<script type="text/javascript" src="//lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/axios/0.19.0/axios.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/element-ui/2.11.1/index.js"></script>
<script type="text/javascript" src="/static/js/request.js"></script>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            opFlag: true,
            visible: false,
            dataForm: {
                id: 0,
                routeId: "",
                routeUri: "",
                routeOrder: 0,
                predicates: "",
                filters: ""
            },
            paging: {
                page: 1,
                size: 10,
                total: 0
            },
            tableData: []
        },
        mounted() {
            this.listData();
        },
        methods: {
            openDialog(id) {
                let that = this;
                that.visible = true;
                that.dataForm.id = id || 0;
                that.opFlag = that.dataForm.id > 0;
                that.$nextTick(() => {
                    that.$refs.dataForm.resetFields();
                });

                if (that.opFlag) {
                    let url = ctx + "/gateway-routes/info/v1";

                    post(url, {"id": id}, function (res) {
                        let data = res.data;
                        if (data.success) {
                            data.data.predicates = JSON.stringify(data.data.predicates, null, "\t");
                            data.data.filters = JSON.stringify(data.data.filters, null, "\t");

                            Object.assign(that.dataForm, data.data);
                        }
                    });
                }
            },

            refresh() {
                this.listData();
            },

            refreshRoute() {
                let that = this;
                let url = ctx + "/gateway-routes/refresh/v1";

                post(url, {}, function (res) {
                    let data = res.data;
                    if (data.success) {
                        that.$message.success(data.msg);
                    } else {
                        that.$message.error(data.msg);
                    }
                })
            },

            dataFormSubmit() {
                let that = this;
                that.$refs.dataForm.validate((valid) => {
                    if (valid) {
                        let url;
                        let params = that.dataForm;
                        if (that.opFlag) {
                            url = ctx + "/gateway-routes/modify/v1";
                        } else {
                            delete params["id"];
                            url = ctx + "/gateway-routes/save/v1";
                        }

                        params.predicates = JSON.parse(params.predicates);
                        params.filters = JSON.parse(params.filters);

                        post(url, params, function (res) {
                            let data = res.data;
                            if (data.success) {
                                that.visible = false;
                                that.listData();
                            }
                        })
                    }
                });
            },

            genIndex(index) {
                return this.paging.size * (this.paging.page - 1) + index + 1;
            },

            listData() {
                let that = this;
                let params = that.getParams();
                let url = ctx + "/gateway-routes/list-db/v1";

                post(url, params, function (res) {
                    let data = res.data;
                    if (data.success) {
                        that.tableData = data.data.records;
                        that.paging.total = data.data.total;
                    } else {
                        that.$message.error(data.msg);
                        that.tableData = [];
                    }
                });
            },

            getParams() {
                let that = this;
                return {
                    // 页码
                    page: that.paging.page,
                    // 页面大小
                    size: that.paging.size
                };
            },

            pageChange(page) {
                this.paging.page = page;

                this.listData();
            },

            sizeChange(size) {
                this.paging.page = 1;
                this.paging.size = size;

                this.listData();
            },

            deleteData(row) {
                let that = this;
                let params = {
                    id: row.id,
                    routeId: row.routeId
                };
                let url = ctx + "/gateway-routes/remove/v1";

                post(url, params, function (res) {
                    let data = res.data;
                    if (data.success) {
                        setTimeout(function () {
                            that.listData();
                        }, 500);
                    }

                    if (row.id) {
                        that.hideDelPopover(row.id, "del");
                    }
                });
            },

            hideDelPopover(id, type) {
                this.$refs[id + type].doClose();
            },
        }
    });
</script>
</body>

</html>