server:
  port: 8002

spring:
  profiles:
    active: peer2

eureka:
  instance:
    hostname: peer2
    prefer-ip-address: true
  client:
    register-with-eureka: false
    serviceUrl:
      defaultZone: http://root:root@peer1:8001/eureka/,http://root:root@peer3:8003/eureka/