server:
  port: 7000
  use-forward-headers: true
  undertow:
    # 设置IO线程数, 它主要执行非阻塞的任务,它们会负责多个连接, 默认设置每个CPU核心一个线程
    io-threads: 4
    # 阻塞任务线程池, 当执行类似servlet请求阻塞操作, undertow会从这个线程池中取得线程,它的值设置取决于系统的负载
    worker-threads: 20
    # 以下的配置会影响buffer,这些buffer会用于服务器连接的IO操作,有点类似netty的池化内存管理
    buffer-size: 1024
    # 是否分配的直接内存
    direct-buffers: true

spring:
  application:
    name: zuul-server
  mvc:
    throw-exception-if-no-handler-found: true

eureka:
  instance:
    hostname: ${spring.cloud.client.ip-address}
    status-page-url: http://127.0.0.1:${server.port}/
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
  client:
    service-url:
      defaultZone: http://root:root@127.0.0.1:8761/eureka/

zuul:
  # 忽略所有微服务或某些微服务
  # 微服务的名字 ==> spring.application.name值
  ignored-services: "*"
  host:
    connect-timeout-millis: 6000
  routes:
    provider-user:
      path: /**
      serviceId: provider-user

management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: env
  endpoint:
    health:
      show-details: ALWAYS
