<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link rel="stylesheet" href="//lib.baomitu.com/element-ui/2.8.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>

<body>
<div id="app" class="container-fluid" v-cloak>
    <el-card class="box-card iv-row" header="菜单列表">
        <p class="mr fs">登录信息</p>
        <p class="mr">
            <span class="login-info my-link">用户名：{{userName}}</span>
            <span class="login-info my-link">手机号：{{mobile}}</span>
        </p>

        <p class="mr fs">第1栏</p>
        <p class="mr">
            <a href="/login.html" target="_blank" class="my-link">登录授权</a>
            <a href="javascript:;" class="my-link" @click="clearAuth">退出登录</a>
        </p>

        <p class="mr fs">第2栏</p>
        <p class="mr">
            <a class="my-link" href="/swagger-ui.html" target="_blank">API管理首页V1</a>
            <a class="my-link" href="/druid" target="_blank">Druid监控页</a>
        </p>
    </el-card>
</div>

<script type="text/javascript" src="//lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/element-ui/2.8.2/index.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/js-cookie/2.2.0/js.cookie.js"></script>
<script type="text/javascript" src="/static/js/request.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>