<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="mobile">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>登录</title>
    <link rel="stylesheet" href="//lib.baomitu.com/element-ui/2.8.2/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <style>
        .login-main {
            width: 340px;
            margin: 150px auto;
            padding: 0 16px;
        }

        .article-bg {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background-size: 100%;
            background: url(/static/img/login_bg.svg) no-repeat fixed;
        }
    </style>
</head>

<body>
<div id="app" class="container-fluid" v-cloak>
    <el-row>
        <el-col span="24">
            <el-card header="Well登录" class="login-main">
                <el-form :model="form" ref="loginForm" :rules="rules">
                    <el-form-item label="手机号" prop="mobile">
                        <el-input type="text" v-model="form.mobile" placeholder="请输入手机号" clearable/>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="form.password" placeholder="请输入密码" @keyup.enter.native="keyEnter" clearable/>
                    </el-form-item>
                    <el-form-item v-if="users.length > 0">
                        <el-radio-group v-model="radio" @change="changeUser">
                            <el-radio v-for="(item, index) in users" :label="index" :key="item.mobile">
                                <span>{{item.mobile}}</span>
                            </el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item v-if="users.length > 0">
                        <el-button type="danger" @click="clearUser" class="btn-long">清除记录</el-button>
                    </el-form-item>
                </el-form>

                <el-button type="success" @click="login" class="btn-long">登录</el-button>
            </el-card>
        </el-col>
    </el-row>

    <div class="article-bg"></div>
</div>

<script type="text/javascript" src="//lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/element-ui/2.8.2/index.js"></script>
<script type="text/javascript" src="//lib.baomitu.com/js-cookie/2.2.0/js.cookie.js"></script>
<script type="text/javascript" src="/static/js/request.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                radio: 0,
                users: [],
                form: {
                    mobile: '18820216400',
                    password: '123456'
                },
                rules: {
                    mobile: [
                        {required: true, message: '请输入手机号', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'}
                    ]
                }
            };
        },
        mounted() {
            let users = JSON.parse(localStorage.getItem("users")) || [];
            this.users = users;
            if (users.length > 0) {
                let user = this.users[0];
                this.setUser(user);
            }
        },
        methods: {
            clearUser() {
                localStorage.removeItem("users");
                this.users = [];
            },

            changeUser(index) {
                let user = this.users[index];
                this.setUser(user);
            },

            login: function () {
                let that = this;

                that.$refs.loginForm.validate((valid) => {
                    if (valid) {
                        let url = ctx + "/well/api/sys/login/v1";
                        post(url, that.form, function (res) {
                            let data = res.data;
                            if (data.success) {
                                let user = {
                                    "mobile": that.form.mobile,
                                    "password": that.form.password
                                };

                                that.pushUnique(user);

                                localStorage.setItem("userName", data.data.user.userName);
                                localStorage.setItem("mobile", data.data.user.mobile);
                                localStorage.setItem("users", JSON.stringify(that.users));
                                localStorage.setItem("token", data.data.token.token);
                                Cookies.set('token', data.data.token.token);

                                let referer = getReferer();
                                if ((ctx + window.location.pathname) === referer) {
                                    referer = ctx;
                                }

                                location.replace(referer ? referer : ctx);
                            } else {
                                if (data.code === 10001) {
                                    that.$message.error(data.data.errors[0].message);
                                } else {
                                    that.$message.error(data.msg);
                                }
                            }
                        }, function () {
                            that.$message.error("请求错误");
                        })
                    }
                })
            },

            setUser(user) {
                this.form.mobile = user.mobile;
                this.form.password = user.password;
            },

            pushUnique(item) {
                let hasItem = this.users.some(function (k) {
                    return k.mobile === item.mobile
                });
                hasItem || this.users.unshift(item)
            },

            keyEnter() {
                this.login();
            }
        }
    });
</script>
</body>

</html>