<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxk175.well.module.dao.sys.SysRoleDao">

    <select id="listSysRole" resultType="java.util.Map"
            parameterType="com.zxk175.well.common.model.param.sys.role.SysRoleListParam">
        SELECT
            sr.role_id AS roleId,
            sr.role_name AS roleName,
            sr.role_sign AS roleSign,
            sr.remark,
            sr.create_time AS createTime,
            sr.state
        FROM
            t_sys_role AS sr
        WHERE
            1 = 1
        LIMIT #{page}, #{size}
    </select>

    <select id="countSysRole" resultType="java.lang.Long"
            parameterType="com.zxk175.well.common.model.param.sys.role.SysRoleListParam">
        SELECT
            COUNT(sr.role_id) AS `count`
        FROM
            t_sys_role AS sr
        WHERE
            1 = 1
    </select>
</mapper>
